<!doctype html>
<html lang="en" class="bg-grid">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<span
			class="pointer-events-none fixed bottom-3 left-1/2 z-100 -translate-x-1/2 text-xs text-neutral-500 dark:text-neutral-400"
		>
			Made by
			<a
				href="https://github.com/shizukushq"
				target="_blank"
				draggable="false"
				class="pointer-events-auto text-neutral-900 dark:text-neutral-100"
			>
				shizuku
			</a>
		</span>
		<span class="pointer-events-none fixed top-4 left-4 z-100 font-medium">
			shq-lab
		</span>
		<main id="root" class="z-0 h-screen w-screen"></main>
		<script type="module" src="/src/index.tsx"></script>
		<script>
			document.documentElement.classList.toggle(
				'dark',
				localStorage.getItem('theme') === 'dark',
			);
		</script>
	</body>
</html>
